In [3]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv("BankCustomers.csv")

In [6]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [7]:
X = df.iloc[:, 3:13]
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [11]:
y = df.iloc[:, 13]
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [16]:
X["Geography"].value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [17]:
# Convert categorical feature into dummy variables

states = pd.get_dummies(X["Geography"], drop_first=True)
gender = pd.get_dummies(X["Gender"], drop_first=True)

In [19]:
# Concatenate the remaining dummies columns

X = pd.concat([X,states,gender], axis=1)

In [21]:
# Drop unused columns

X = X.drop(["Geography", "Gender"], axis=1)

In [22]:
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0

In [23]:
# Splitting the dataset into the training set and test set
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [25]:
# Build teh Artificial Neural Network

import keras
from keras.models import Sequential
from keras.layers import Dense

In [26]:
# Initializing the ANN
classifier = Sequential()

# Adding the input layer and the fisrt hidden layer
#for each neurone we have sum Ii*Wi 
classifier.add(Dense(activation="relu", input_dim=11, units=6, kernel_initializer="uniform"))

# Adding the second hidden layer
classifier.add(Dense(activation="relu", units=6, kernel_initializer="uniform"))

# Adding the output layer
classifier.add(Dense(activation="sigmoid", units=1, kernel_initializer="uniform"))

In [28]:
classifier.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 6)                 72
_________________________________________________________________
dense_1 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 7
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

In [27]:
# Compiling the ANN
classifier.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])

In [30]:
# Fitting the ANN to the training set
classifier.fit(X_train, y_train, batch_size=10, epochs=100)

Epoch 1/100
800/800 [==============================] - 14s 828us/step - loss: 0.5562 - accuracy: 0.7917
Epoch 2/100
800/800 [==============================] - 1s 624us/step - loss: 0.4395 - accuracy: 0.7936
Epoch 3/100
800/800 [==============================] - 0s 606us/step - loss: 0.4242 - accuracy: 0.7950
Epoch 4/100
800/800 [==============================] - 0s 612us/step - loss: 0.4272 - accuracy: 0.8066
Epoch 5/100
800/800 [==============================] - 0s 614us/step - loss: 0.4188 - accuracy: 0.8225
Epoch 6/100
800/800 [==============================] - 0s 604us/step - loss: 0.4196 - accuracy: 0.8246
Epoch 7/100
800/800 [==============================] - 0s 613us/step - loss: 0.4047 - accuracy: 0.8337
Epoch 8/100
800/800 [==============================] - 0s 613us/step - loss: 0.4097 - accuracy: 0.8319
Epoch 9/100
800/800 [==============================] - 0s 610us/step - loss: 0.4129 - accuracy: 0.8280
Epoch 10/100
800/800 [==============================] - 0s 606us/step - loss: 0.4094 - accuracy: 0.8348
Epoch 11/100
800/800 [==============================] - 0s 621us/step - loss: 0.4076 - accuracy: 0.8366
Epoch 12/100
800/800 [==============================] - 1s 628us/step - loss: 0.4158 - accuracy: 0.8333
Epoch 13/100
800/800 [==============================] - 1s 823us/step - loss: 0.4119 - accuracy: 0.8290
Epoch 14/100
800/800 [==============================] - 1s 663us/step - loss: 0.4079 - accuracy: 0.8354
Epoch 15/100
800/800 [==============================] - 0s 578us/step - loss: 0.4069 - accuracy: 0.8383
Epoch 16/100
800/800 [==============================] - 1s 665us/step - loss: 0.4089 - accuracy: 0.8314
Epoch 17/100
800/800 [==============================] - 1s 625us/step - loss: 0.4119 - accuracy: 0.8381
Epoch 18/100
800/800 [==============================] - 1s 683us/step - loss: 0.4051 - accuracy: 0.8365
Epoch 19/100
800/800 [==============================] - 1s 709us/step - loss: 0.4029 - accuracy: 0.8415
Epoch 20/100
800/800 [==============================] - 1s 650us/step - loss: 0.4077 - accuracy: 0.8383
Epoch 21/100
800/800 [==============================] - 1s 645us/step - loss: 0.4189 - accuracy: 0.8324
Epoch 22/100
800/800 [==============================] - 1s 670us/step - loss: 0.3972 - accuracy: 0.8367
Epoch 23/100
800/800 [==============================] - 1s 662us/step - loss: 0.3958 - accuracy: 0.8401
Epoch 24/100
800/800 [==============================] - 1s 669us/step - loss: 0.4000 - accuracy: 0.8395
Epoch 25/100
800/800 [==============================] - 1s 647us/step - loss: 0.4011 - accuracy: 0.8364
Epoch 26/100
800/800 [==============================] - 1s 801us/step - loss: 0.3969 - accuracy: 0.8401
Epoch 27/100
800/800 [==============================] - 1s 897us/step - loss: 0.4000 - accuracy: 0.8359
Epoch 28/100
800/800 [==============================] - 1s 883us/step - loss: 0.4012 - accuracy: 0.8339
Epoch 29/100
800/800 [==============================] - 1s 640us/step - loss: 0.4104 - accuracy: 0.8282
Epoch 30/100
800/800 [==============================] - 1s 662us/step - loss: 0.4002 - accuracy: 0.8352
Epoch 31/100
800/800 [==============================] - 1s 750us/step - loss: 0.4055 - accuracy: 0.8314
Epoch 32/100
800/800 [==============================] - 1s 757us/step - loss: 0.3989 - accuracy: 0.8397
Epoch 33/100
800/800 [==============================] - 1s 698us/step - loss: 0.3945 - accuracy: 0.8410
Epoch 34/100
800/800 [==============================] - 1s 627us/step - loss: 0.3897 - accuracy: 0.8438
Epoch 35/100
800/800 [==============================] - 1s 725us/step - loss: 0.3994 - accuracy: 0.8352
Epoch 36/100
800/800 [==============================] - 1s 668us/step - loss: 0.3980 - accuracy: 0.8349
Epoch 37/100
800/800 [==============================] - 1s 640us/step - loss: 0.3929 - accuracy: 0.8370
Epoch 38/100
800/800 [==============================] - 1s 656us/step - loss: 0.4110 - accuracy: 0.8293
Epoch 39/100
800/800 [==============================] - 1s 639us/step - loss: 0.4131 - accuracy: 0.8326
Epoch 40/100
800/800 [==============================] - 1s 649us/step - loss: 0.4111 - accuracy: 0.8271
Epoch 41/100
800/800 [==============================] - 1s 659us/step - loss: 0.4069 - accuracy: 0.8326
Epoch 42/100
800/800 [==============================] - 1s 672us/step - loss: 0.4071 - accuracy: 0.8353
Epoch 43/100
800/800 [==============================] - 1s 787us/step - loss: 0.3951 - accuracy: 0.8389
Epoch 44/100
800/800 [==============================] - 1s 631us/step - loss: 0.4013 - accuracy: 0.8313
Epoch 45/100
800/800 [==============================] - 0s 622us/step - loss: 0.4148 - accuracy: 0.8273
Epoch 46/100
800/800 [==============================] - 1s 645us/step - loss: 0.4020 - accuracy: 0.8380
Epoch 47/100
800/800 [==============================] - 0s 624us/step - loss: 0.4018 - accuracy: 0.8350
Epoch 48/100
800/800 [==============================] - 1s 641us/step - loss: 0.3983 - accuracy: 0.8383
Epoch 49/100
800/800 [==============================] - 1s 627us/step - loss: 0.4100 - accuracy: 0.8278
Epoch 50/100
800/800 [==============================] - 0s 621us/step - loss: 0.4089 - accuracy: 0.8282
Epoch 51/100
800/800 [==============================] - 1s 630us/step - loss: 0.3970 - accuracy: 0.8358
Epoch 52/100
800/800 [==============================] - 1s 727us/step - loss: 0.4027 - accuracy: 0.8336
Epoch 53/100
800/800 [==============================] - 0s 599us/step - loss: 0.3995 - accuracy: 0.8337
Epoch 54/100
800/800 [==============================] - 0s 585us/step - loss: 0.3985 - accuracy: 0.8356
Epoch 55/100
800/800 [==============================] - 1s 683us/step - loss: 0.4152 - accuracy: 0.8211
Epoch 56/100
800/800 [==============================] - 1s 657us/step - loss: 0.3974 - accuracy: 0.8373
Epoch 57/100
800/800 [==============================] - 1s 644us/step - loss: 0.4028 - accuracy: 0.8322
Epoch 58/100
800/800 [==============================] - 0s 599us/step - loss: 0.4014 - accuracy: 0.8360
Epoch 59/100
800/800 [==============================] - 0s 602us/step - loss: 0.3980 - accuracy: 0.8331
Epoch 60/100
800/800 [==============================] - 1s 644us/step - loss: 0.3981 - accuracy: 0.8394
Epoch 61/100
800/800 [==============================] - 1s 686us/step - loss: 0.4052 - accuracy: 0.8310
Epoch 62/100
800/800 [==============================] - 1s 728us/step - loss: 0.3933 - accuracy: 0.8358
Epoch 63/100
800/800 [==============================] - 1s 714us/step - loss: 0.4038 - accuracy: 0.8289
Epoch 64/100
800/800 [==============================] - 1s 712us/step - loss: 0.4019 - accuracy: 0.8319
Epoch 65/100
800/800 [==============================] - 1s 743us/step - loss: 0.3913 - accuracy: 0.8386
Epoch 66/100
800/800 [==============================] - 1s 711us/step - loss: 0.3984 - accuracy: 0.8307
Epoch 67/100
800/800 [==============================] - 1s 711us/step - loss: 0.4076 - accuracy: 0.8306
Epoch 68/100
800/800 [==============================] - 1s 705us/step - loss: 0.4004 - accuracy: 0.8335
Epoch 69/100
800/800 [==============================] - 1s 711us/step - loss: 0.3913 - accuracy: 0.8401
Epoch 70/100
800/800 [==============================] - 1s 751us/step - loss: 0.3964 - accuracy: 0.8395
Epoch 71/100
800/800 [==============================] - 1s 756us/step - loss: 0.4031 - accuracy: 0.8344
Epoch 72/100
800/800 [==============================] - 1s 751us/step - loss: 0.4004 - accuracy: 0.8318
Epoch 73/100
800/800 [==============================] - 1s 899us/step - loss: 0.4101 - accuracy: 0.8340
Epoch 74/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3930 - accuracy: 0.8401
Epoch 75/100
800/800 [==============================] - 1s 956us/step - loss: 0.3978 - accuracy: 0.8359
Epoch 76/100
800/800 [==============================] - 1s 866us/step - loss: 0.4070 - accuracy: 0.8324
Epoch 77/100
800/800 [==============================] - 1s 841us/step - loss: 0.3925 - accuracy: 0.8373
Epoch 78/100
800/800 [==============================] - 1s 847us/step - loss: 0.4072 - accuracy: 0.8326
Epoch 79/100

800/800 [==============================] - 1s 775us/step - loss: 0.4092 - accuracy: 0.8248
Epoch 80/100
800/800 [==============================] - 1s 764us/step - loss: 0.3893 - accuracy: 0.8361
Epoch 81/100
800/800 [==============================] - 1s 755us/step - loss: 0.4016 - accuracy: 0.8312
Epoch 82/100
800/800 [==============================] - 1s 803us/step - loss: 0.3964 - accuracy: 0.8388
Epoch 83/100
800/800 [==============================] - 1s 927us/step - loss: 0.4007 - accuracy: 0.8339
Epoch 84/100
800/800 [==============================] - 1s 795us/step - loss: 0.3978 - accuracy: 0.8353
Epoch 85/100
800/800 [==============================] - 1s 742us/step - loss: 0.4012 - accuracy: 0.8332
Epoch 86/100
800/800 [==============================] - 1s 733us/step - loss: 0.3982 - accuracy: 0.8390
Epoch 87/100
800/800 [==============================] - 1s 712us/step - loss: 0.4086 - accuracy: 0.8287
Epoch 88/100
800/800 [==============================] - 1s 711us/step - loss: 0.3898 - accuracy: 0.8413
Epoch 89/100
800/800 [==============================] - 1s 714us/step - loss: 0.4096 - accuracy: 0.8258
Epoch 90/100
800/800 [==============================] - 1s 716us/step - loss: 0.3951 - accuracy: 0.8360
Epoch 91/100
800/800 [==============================] - 1s 713us/step - loss: 0.3954 - accuracy: 0.8369
Epoch 92/100
800/800 [==============================] - 1s 740us/step - loss: 0.3938 - accuracy: 0.8392
Epoch 93/100
800/800 [==============================] - 1s 757us/step - loss: 0.4050 - accuracy: 0.8355
Epoch 94/100
800/800 [==============================] - 1s 739us/step - loss: 0.3952 - accuracy: 0.8319
Epoch 95/100
800/800 [==============================] - 1s 747us/step - loss: 0.3946 - accuracy: 0.8372
Epoch 96/100
800/800 [==============================] - 1s 739us/step - loss: 0.3884 - accuracy: 0.8398
Epoch 97/100
800/800 [==============================] - 1s 734us/step - loss: 0.4034 - accuracy: 0.8364
Epoch 98/100
800/800 [==============================] - 1s 728us/step - loss: 0.3999 - accuracy: 0.8353
Epoch 99/100
800/800 [==============================] - 1s 721us/step - loss: 0.4074 - accuracy: 0.8315
Epoch 100/100
800/800 [==============================] - 1s 721us/step - loss: 0.4016 - accuracy: 0.8327

In [31]:
# Predicting the test set results
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

In [32]:
# Making the confusion matrix
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
accuracy = accuracy_score(y_test, y_pred)